body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

.trang1{
    width:80%;
    margin:auto;
    overflow:hidden;
  }

header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }

  header .chutrang, header .hinhvietnam a{
    color:#e8491d;
    font-weight:bold;
  }

  header li{
    float:left; 
    display:inline;
    padding: 0 20px 0 20px;
  }

  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }

  header #div1{
    float:left;
  }

  header nav{
    float:right;
    margin-top:10px;
  }

header a:hover{
    color:#ff0606;
    font-weight:bold;
}



#trang2{
    min-height: 500px;
    background:url('../img/home.jpg') no-repeat 0 ;
    background-size: cover;
    text-align:center;
    color:#f6f4f4;
    
    
    
}

  #trang2 h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }

  #trang2 p{
    font-size:20px;
  }

  #newsletter h1{
    float:left;
  }

  ul{
    margin:0;
    padding:0;
  }

.hinhvietnam {
    margin-top: -9px;
}

h1 {
    margin-top: -2px;
}

h2 {
    font-size: 2cm;
    margin-top: 100px;
    color: #35424a;
    background-color: rgba(255, 255, 255, 0.614); opacity: 0.7;
}

p1 {
    font-size: 1cm;
    color: #35424a;
    background-color: rgba(255, 255, 255, 0.614); opacity: 0.7;
}

p2 {
  color: black;
}

.vietnam1 {
    border-radius: 8px;
}

.nhunghome {
  padding-left: 200px;
}

.div_left {
  color: rgb(251, 248, 248);
    width: 500px;
    float: left;
    border: 3px solid ;
    background-color: white;
    padding-left: 10px;
    width: 255px;
    height: 636px;
    text-align: left; 
}

p18 {
  padding-top: 10px;
}

.div_right {
    width: 440px;
    float:inline-end;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(251, 255, 255);
    padding-right: 340px;
    width: 485px;
    height: 330px;
}

.div_right_11 {
  width: 440px;
  float:inline-end;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(251, 255, 255);
  padding-right: 340px;
  width: 485px;
  height: 300px;
}

#trang3 {
  padding-left: 200px;
}

#trang4 {
  padding-right: 200px;
}

.khung {
  width: 825px;
}

.chonloctheo  {
  border: 1px solid rgb(82, 78, 78);
  background-color: rgb(248, 247, 247);
  padding-left: 10px;
  width: 240px;
  height: 290px;
}

.div3 {
  display:inline-flex;
  color: black;
}

div a:hover {
  color:red;
  font-weight:bold;
}

.div3 a{
  color: black;
}

table a:hover{
  color: #ff3700;
  font-weight: bold;
}

.khung a{
  color: black;

}

.div4 {
  width: 440px;
  float:inline-end;
  border: 2px solid rgba(61, 61, 61, 0.701);
  border-radius: 10px;
  background-color: rgb(251, 255, 255);
  margin-right: -340px;
  width: 820px;
  height: 289px;
}

.tc1 {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

p3 {
  margin-block: 100px;
}

.div_left1 {
  color: white;
  width: 500px;
  float: left;
  border: 4px solid ;
  background-color: white;
  padding-left: -10px;
  width: 283px;
  height: 280px;
  text-align: left; 
}

.div_right1 {
  width: 540px;
    float:inline-end;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    padding-right: 340px;
    width: 184px;
    height: 284px;
}

.khung1 {
  width: 290px;
  text-align: left;
  font-size: 0.45cm;
  margin-left: -100px;
  
}

.khung1 a{
  color: rgb(0, 34, 255);
}

.khung2 {
  width: 320px;
  text-align: left;
  font-size: 0.45cm;
  margin-left: -100px;
  position: relative;
  top: -10px;
}

.star {
  margin-left: -100px;
}

.star a{
  color: black;

}

.khung1 img{
  margin-top: 90px;
  margin-left: -200px;
}

p4 {
  font-size: 0.8cm;
  position: relative;
  top: -10px;
}

p5 {
  font-size: 0.5cm;
  position: relative;
  top: -5px;
}

.div_left1_2 {
  float:left;
  border: 3px solid white;
  background-color: white;
  padding-left: 100px;
  width: 230px;
  height: 280px;
  
}

.div_right1_2 {
  color: white;
  width: 500px;
  float: left;
  border: 4px solid ;
  background-color: white;
  margin-left: 340px;
  margin-top: -284px;
  width: 175px;
  height: 275px;
}

p6 {
  color: black;
}

p7 {
  color: rgb(9, 154, 9);
  font-size: 0.6cm;
}
.div5 th{
  background-color: rgb(0, 191, 254);
  color: white;
  width: 200px;
  border: 4px solid;
  border-radius: 10px;
  text-align: center;
}

.div5 {
  text-align: right;
  margin-top: 150px;
}